beautifulsoup4
python-dotenv
langgraph
langchain-core
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
huggingface-hub
sentence-transformers
transformers
torch
pypdf
requests
streamlit
SpeechRecognition
edge-tts
pygame
tqdm